body {
    background-color: #f2f2f2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h2 {}

.flag {
    margin: auto;
    transition: transform .3s; /* Animation */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.flag:hover {
    transform: scale(1.3);
}